html {
    height: 100%;
    width: 100vh;
}

body { 
    min-height: 100%;
}

.container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url("../Images/turbines.gif");
    background-size: auto 120%;
}

#main-page {
    position: absolute;
    background-color: darkgrey;
    border:black;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    margin: auto;
    height: auto;
}

#info {
    position: absolute;
    top: 100vh;
    height: 200vh;
    left: 50%;
    transform: translate(-50%, 0%);
}
