html {
    height: 100%;
    width: 100vh;
}

body { 
    min-height: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    margin: auto;
}

.container {
    position: absolute;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.row {
  position: relative;
  margin: auto;
}

#main-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url("../Images/turbines.gif");
    background-size: auto 130%;
}

#main-page {
    position: absolute;
    background-color: darkgrey;
    border:black;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    margin: auto;
    height: auto;
}

#visualization-container {
  position: absolute;
  height: 100vh;
  width: 100%;
}

#slideshow-container {
  position: absolute;
  height: 100vh;
  width: 100%;
}

#slideshow-buttons {
  margin-bottom: 0px;
}

#info {
    position: absolute;
    top: 100vh;
    height: 200vh;
    left: 50%;
    transform: translate(-50%, 0%);
}

.links {
    margin-right: 20px;
}

.page_header {
    text-align: center;
    left: 50%;
}

.reason-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 25px;
}

.btn-group {
  margin-right: 25px;
  margin-bottom: 25px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}